<div class="container">
  <h1> URL Shortener </h1>
  <div class="input-area">
    <input type="url" [(ngModel)]="originalUrl" id="urlInput" placeholder="Enter URL" required>
    <button (click)="shortenUrl()" id="submitButton">Shorten</button>
    <div id="loading" class="hidden" *ngIf="loading" >Loading...</div>     
  </div>
  <div class="output-area">
    <div *ngIf="error" class="error">{{error}}</div>
    <div *ngIf="shortenedUrl; else noShortenedUrl">
      <h2>Shortener URL:</h2>
      <p>{{ shortenedUrl }}</p>
      <a href="{{ shortenedUrl }}" target="_blank">Open Link</a>
    </div>
    <ng-template #noShortenedUrl>
      <p>Shortener URL will appear here.</p>
    </ng-template>
  </div>
</div>